.profile{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    height: 100vh;
    top: 10vh;
    left: 0;
    flex-direction: column;
    padding: 0.5em;
    border-right: 2px solid rgba(231, 225, 225, 0.671);
}
.profile img{
    width: 60%;
}
.profile button{
    width: 60%;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.profile button:hover{
    background-color: black;
    color: white;
}
.profile h5{
    padding: 0.5em;
    margin: 0;
}