.profile{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    height: 100vh;
    top: 10vh;
    left: 0;
    flex-direction: column;
    /* padding: 0em 0em;
    margin: 0em 0em; */
    border-right: 2px solid rgba(231, 225, 225, 0.671);
    padding: 0 2em;
}
.profile img{
    width: 80%;
    border-radius: 1em;
}
.profile button{
    width: 80%;
    background-color: #070F2B;
    color: white;
    border-radius: 5px;
}
.profile button:hover{
    background-color: black;
    color: white;
}
.profile h2{
    font-size: 2.0em;
    padding: 0;
    margin: 0;
}
.profile h3{
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}
.profile h5{
    padding: 0.5em;
    margin: 0;
}
.profile p{
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 720px){
    .profile{
        width: 35%;
        padding: 2px;
        top: 12.5vh;
    }
}

@media (max-width: 530px){
    .profile h2{
        font-size: 1.5em;
        padding: 0;
        margin: 0;
    }
    .profile h3{
        font-size: 1.0em;
        padding: 0;
        margin: 0;
    }
}