.repo-section{
    top: 10vh;
    width: 100%;
    left: 45%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.repositories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    width: 90%;
}
.repos{
    padding: 0;
    position: relative;
    margin: 0.5em;
    background-color: #F1F1E6;
    width: 40%;
}
.repos .title{
    width: 100%;
}
.repos .title a{
    background-color: #070F2B;
    padding: 0.25em 1em;
    border-radius: 0.25em;
}
.repos .forks{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #FFF7D6;
    margin: 0;
    width: 100%;
}
.followers-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}
.followers-cont .followers{
    width: 40%;
    background-color: #FFF7D6;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.followers-cont .followers img{
    width: 100%;
}
.followers-cont .followers p{
    color: white;
    background-color: black;
    padding: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.followers-cont .followers p a{
    background-color: black;
    color: white;
}

@media (max-width: 730px){
    .repositories .repos{
        width: 90%;
    }
    .followers-cont{
        flex-direction: column;
    }
    .followers-cont .followers{
        width: 80%;
    }
}